<div class="container jumbotron" ng-controller="MainController as vm">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <h3>Already Done Mapping?</h3>
            <div class="row well">
                <button type="button" class="btn btn-default" ui-sref="mapped">See Already done mapping </button>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <h3>Find Mapping?</h3>
            <div class="row well">
                <button type="button" class="btn btn-default" ui-sref="mapping">Find mapping </button>
            </div>
        </div>
    </div>
</div>
