<div class="container-fluid jumbotron">
    <div class="row">
        <legend>
            <h1>home page</h1></legend>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
            <h3>Already Done Mapping?</h3>
            <div class="row well">
                <button type="button" class="btn btn-default" ui-sref="mapped">See Already done mapping </button>
                <input id="csv" type="file" class="form-control">
                <output id="out">
                    file contents will appear here
                </output>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
            <h3>Find Mapping?</h3>
            <div class="row well">
                <button type="button" class="btn btn-default" ui-sref="mapping">Find mapping </button>
                <input type="file" class="form-control">
            </div>
        </div>
    </div>
</div>
<script>
var fileInput = document.getElementById("csv"),

    readFile = function() {
        var reader = new FileReader();
        reader.onload = function() {
            document.getElementById('out').innerHTML = reader.result;

            var data = [];
            data = reader.result.split('\r');
            console.log(data[0] + "--->" + data[1]);
        };
        // start reading the file. When it is done, calls the onload event defined above.
        reader.readAsText(fileInput.files[0]);
        reader.onload();
    };

fileInput.addEventListener('change', readFile);
</script>
