body {
    font-family: 'Raleway', sans-serif;
}

div#displayMsg {
    position: fixed;
    text-align: center;
    top: 30px;
    width: 100%;
}

.highlight {
    background: #aaa;
    color: white;
}

div.bottomRightMenu {
    position: fixed;
    right: 0px;
    bottom: 0px;
}

a#mapSaveButton:hover {
    opacity: 1;
}

div#savedMappingDiv {
    border-left: 1px solid #aaa;
    padding-left: 25px;
    min-height: 500px;
}

.hide {
    display: none;
}

div#mappingDiv {
    margin-top: 5px;
    border-top: 1px solid #aaa;
    height: 400px;
    display: block;
}

span.modBadge {
    font-size: 23px;
    color: white;
    margin-left: 10px;
}

div#leftAttrColumn {
    min-height: 600px;
    border-right: 1px solid #ddd;
}

h3.attrHeading {
    text-align: center;
}

div.editableDiv {
    position: absolute;
    top: -6px;
    background: #eee;
}
