<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-hide="vm.editingMode">
    <legend>
        <h4>Mappings</h4>
    </legend>
    <div ng-repeat="(Gkey,Gvalue) in vm.savedMapping">
        <span class="pull-left modBadge">
            <i class="fa fa-times" ng-click="vm.deleteSavedMapping(Gkey)"></i>
        </span>
        <span class="pull-right modBadge" style="margin-right:10px;">
            <i class="fa fa-pencil" ng-click="vm.editSavedMapping(Gkey)"></i>
        </span>
        <div>
            <div class="btn btn-primary btn-block" ng-click="vm.showSavedMapping('m'+$index)">{{Gkey}}
            </div>
            <table class="table table-condensed table-hover hide" id="{{'m'+$index}}" style="border: 1px solid #aaa;">
                <tbody>
                    <tr ng-repeat="(Pkey,Pvalue) in Gvalue track by $index">
                        <td style="width: 240px;min-width:240px;">
                            <i class="fa fa-plus" ng-click="vm.showValMapBoxFn(Gkey,Pvalue)" ng-show="vm.valueMappingMode"></i>{{Pkey}} <i class="fa fa-arrow-right"></i>
                        </td>
                        <td>
                            <span ng-repeat="(Ckey,Cvalue) in Pvalue.fieldMapping track by $index">
                                <i class="btn  btn-sm btn-info">{{Cvalue}}</i>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
