<div class="container-fluid well" ng-controller="MappingController as vm">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="row">
                <!-- salesforce attribute section -->
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" id="leftAttrColumn">
                    <div class="row" style="padding:4px;">
                        <legend>
                            <h3 class="attrHeading">Salesforce Object</h3>
                        </legend>
                        <div>
                            <input type="text" name="sfObject" id="inputSfObject" class="form-control" value="" required="required" placeholder="Object Name e.g. Account" ng-model="vm.inputSfObject" ng-disabled="vm.sfObjectInitialised">
                            <div ng-hide="vm.sfObjectInitialised">
                                <input id="leftCsv" type="file" class="form-control" ng-hide="!vm.inputSfObject">
                            </div>
                            <button class="btn btn-block btn-danger" ng-show="vm.sfObjectInitialised" ng-click="vm.reloadView()">Change Salesforce Object</button>
                        </div>
                    </div>
                    <div class="row" ng-show="vm.leftColumn.length>0" style="padding:4px;">
                        <legend>
                            <h3 class="attrHeading">Salesforce Object Attribute</h3>
                        </legend>
                        <!-- <table class="table table-condensed table-hover"> -->
                        <table class="table table-hover">
                            <tbody>
                                <tr ng-repeat="data in vm.leftColumn track by $index">
                                    <td ng-click="vm.getSrcAttribute(data)" ng-class="{'highlight':vm.srcAttr===data}">
                                        {{data}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- end of sf attr section -->
                <!-- sap attr section -->
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="row" style="padding:4px;    height: 153px;">
                        <legend>
                            <h3 class="attrHeading">SAP Object</h3>
                        </legend>
                        <input type="text" name="SapObject" id="inputSapObject" class="form-control" value="" required="required" pattern="" title="" placeholder="Object Name e.g. Account" ng-model="vm.inputSapObject" ng-disabled="!vm.inputSfObject || vm.editingMode">
                        <input id="rightCsv" type="file" class="form-control" ng-hide="!vm.inputSapObject" ng-disabled="vm.editingMode">
                    </div>
                    <div class="row" ng-show="vm.rightColumn.length>0" style="padding:4px;">
                        <legend>
                            <h3 class="attrHeading">SAP Object Attributes</h3>
                        </legend>
                        <!-- <table class="table table-condensed table-hover"> -->
                        <div ng-hide="vm.rightColumn.length>0">
                            <div class="bg-info">Please Upload a file</div>
                        </div>
                        <table class="table table-hover">
                            <tbody>
                                <tr ng-repeat="data in vm.rightColumn track by $index">
                                    <td ng-click="vm.setDestAttribute(data)">
                                        {{data}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- end of sap attr section -->
            </div>
        </div>
        <!-- end of attribute section -->
        <!-- saved mapping section -->
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" id="savedMappingDiv">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-hide="vm.editingMode">
                    <legend>
                        <h4>Mappings</h4>
                    </legend>
                    <div ng-repeat="(Gkey,Gvalue) in vm.savedMapping">
                        <span class="pull-left modBadge">
                            <i class="fa fa-times" ng-click="vm.deleteSavedMapping(Gkey)"></i>
                         </span>
                        <span class="pull-right modBadge" style="margin-right:10px;">
                            <i class="fa fa-pencil" ng-click="vm.editSavedMapping(Gkey)"></i>
                        </span>
                        <div>
                            <div class="btn btn-primary btn-block" ng-click="vm.showSavedMapping('m'+$index)">{{Gkey}}
                            </div>
                            <table class="table table-condensed table-hover hide" id="{{'m'+$index}}" style="border: 1px solid #aaa;">
                                <tbody>
                                    <tr ng-repeat="(Pkey,Pvalue) in Gvalue track by $index">
                                        <td style="width: 240px;min-width:240px;">
                                            {{Pkey}} <i class="fa fa-arrow-right"></i>
                                        </td>
                                        <td>
                                            <span ng-repeat="(Ckey,Cvalue) in Pvalue track by $index">
                                            <i class="btn  btn-sm btn-info">{{Cvalue}}</i>
                                        </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br>
                <hr>
                <!-- current mapping section -->
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="mappingDiv" ng-class="{'editableDiv':vm.editingMode}">
                    <span class="btn btn-block btn-primary" ng-show="vm.inputSapObject.length>0 && !vm.editingMode">{{vm.inputSfObject}} <i class="fa fa-arrow-right"></i>{{ vm.inputSapObject}}</span>
                    <span class="btn btn-block btn-danger" ng-show="vm.editingMode" style="text-align:left;">Editing Mode
                           <!--  <span class="pull-right">Relationship&nbsp;&nbsp;:&nbsp;&nbsp;{{vm.inputSfObject}} <i class="fa fa-arrow-right"></i>{{ vm.inputSapObject}}</span> -->
                    </span>
                    <table class="table table-condensed table-hover table-bordered">
                        <tbody>
                            <tr ng-repeat="(k,v) in vm.fieldMappings track by $index">
                                <td style="width: 240px;min-width:240px;">
                                    <span class="badge" ng-click="vm.deleteMapping(k)"><i class="fa fa-times" ></i></span>&nbsp;&nbsp;{{k}}</i>
                                </td>
                                <td>
                                    <span ng-repeat="(key,value) in v track by $index">
                                <i class="btn  btn-sm btn-info">{{value}} <i class="fa fa-times" ng-click="vm.rmAttrFromMapping(k,value)"></i></i>
                            </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <span class="btn btn-danger" ng-click="vm.saveMapping()" ng-show="vm.editingMode">Save</span>
                </div>
            </div>
        </div>
    </div>
    <!-- save button -->
    <div ng-show="vm.inputSapObject">
        <div class="row" ng-show="vm.rightColumn">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <a class="btn btn-success" ng-click="vm.saveMapping()" id="mapSaveButton" style="right: 129px;">Add</a>
                <a class="btn btn-warning" id="mapSaveButton">Export Mapping</a>
            </div>
        </div>
        <!-- alert box -->
        <div class="row" id="displayMsg">
            <a class="btn btn-lg" ng-show="vm.displayMsg" ng-model="vm.displayMsg" ng-class="{'btn-danger':vm.displayMsgType==='error','btn-success':vm.displayMsgType==='success'}">{{vm.displayMsg}}</a>
        </div>
    </div>
</div>
