<div class="container-fluid well" ng-controller="MappingController as vm">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="row">
                <!-- salesforce attribute section -->
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="row">
                        <legend>
                            <h3>Salesforce Object</h3>
                        </legend>
                        <input type="text" name="sapObject" id="inputSapObject" class="form-control" value="" required="required" placeholder="Object Name e.g. Account" ng-model="vm.inputSapObject">
                        <input id="leftCsv" type="file" class="form-control">
                    </div>
                    <div class="row" ng-show="vm.leftColumn.length>0">
                        <legend>
                            <h3>Salesforce Object Attribute</h3>
                        </legend>
                        <!-- <table class="table table-condensed table-hover"> -->
                        <table class="table">
                            <tbody>
                                <tr ng-repeat="data in vm.leftColumn track by $index">
                                    <td ng-click="vm.getSrcAttribute(data)" ng-class="{'highlight':vm.srcAttr===data}">
                                        {{data}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- end of sf attr section -->
                <!-- sap attr section -->
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="row">
                        <legend>
                            <h3>SAP Object</h3>
                        </legend>
                        <input type="text" name="SfObject" id="inputSfObject" class="form-control" value="" required="required" pattern="" title="" placeholder="Object Name e.g. Account" ng-model="vm.inputSfObject">
                        <input id="rightCsv" type="file" class="form-control">
                    </div>
                    <div class="row" ng-show="vm.leftColumn.length>0">
                        <legend>
                            <h3>SAP Object Attributes</h3>
                        </legend>
                        <!-- <table class="table table-condensed table-hover"> -->
                        <div ng-hide="vm.rightColumn.length>0">
                            <div class="bg-info">Please Upload a file</div>
                        </div>
                        <table class="table">
                            <tbody>
                                <tr ng-repeat="data in vm.rightColumn track by $index">
                                    <td ng-click="vm.setDestAttribute(data)">
                                        {{data}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- end of sap attr section -->
            </div>
        </div>
        <!-- end of attribute section -->
        <!-- saved mapping section -->
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" id="savedMappingDiv">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <legend>
                        <h4>Mappings</h4>
                    </legend>
                    <div ng-repeat="(Gkey,Gvalue) in vm.savedMapping" class="slideInUp">
                        <div class="btn btn-info btn-block">{{Gkey}}&nbsp;&nbsp;(Click To Expand)
                            <span class="pull-right" ng-click="vm.showSavedMapping(Gkey)">
                            <i class="fa fa-arrow-down" ></i>
                         </span>
                            <span class="pull-left">
                            <i class="fa fa-times" ng-click="vm.deleteSavedMapping(Gkey)"></i>
                         </span>
                        </div>
                        <table class="table table-condensed table-hover">
                            <tbody>
                                <tr ng-repeat="(Pkey,Pvalue) in Gvalue track by $index">
                                    <td style="width: 240px;min-width:240px;">
                                        {{Pkey}}
                                    </td>
                                    <td>
                                        <span ng-repeat="(Ckey,Cvalue) in Pvalue track by $index">
                                            <i class="btn  btn-sm btn-info">{{Cvalue}}</i>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br>
                <hr>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <table class="table table-condensed table-hover">
                        <tbody>
                            <tr ng-repeat="(k,v) in vm.fieldMappings track by $index">
                                <td style="width: 240px;min-width:240px;">
                                    <span class="badge" ng-click="vm.deleteMapping(k)"><i class="fa fa-times" ></i></span>&nbsp;&nbsp;{{k}}-->
                                </td>
                                <td>
                                    <span ng-repeat="(key,value) in v track by $index">
                                <i class="btn  btn-sm btn-info">{{value}}</i>
                            </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- save button -->
    <div class="row" ng-show="vm.rightColumn">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <a class="btn btn-success" ng-click="vm.saveMapping()" id="mapSaveButton">Save Mapping</a>
        </div>
    </div>
    <!-- alert box -->
    <div class="row" id="displayMsg">
        <a class="btn btn-lg" ng-show="vm.displayMsg" ng-model="vm.displayMsg" ng-class="{'btn-danger':vm.displayMsgType==='error','btn-success':vm.displayMsgType==='success'}">{{vm.displayMsg}}</a>
    </div>
</div>
