<div class="container-fluid" ng-controller="MappedController as vm">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <input id="csv" type="file" class="form-control" ng-click="vm.activateFileFn()">
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <table class="table table-condensed table-hover">
                <thead>
                    <th>tabel headding</th>
                </thead>
                <tbody id="putItHere">
                    <tr ng-repeat="data in vm.leftDatas track by $index">
                        <td>
                            <div id="" ondrop="drop(event)" ondragover="allowDrop(event)" class="tableColumn" ng-if="data"><a class="btn">{{data}}</a><i class="fa fa-arrow-right pull-right"></i></div>
                            <div ng-if="!data"><a class="btn">--No Mapping Found--</a></div>
                        </td>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <table class="table table-condensed table-hover">
                <thead>
                    <th>tabel headding</th>
                </thead>
                <tbody>
                    <tr ng-repeat="data in vm.rightDatas track by $index">
                        <td>
                            <div id="" ondrop="drop(event)" ondragover="allowDrop(event)" class="tableColumn">{{data}}</div>
                            <div ng-if="!data">--No Mapping Found--</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
